* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 700px;
    height: 430px;
    margin: 0;
}
.button:hover, .button:active {
    background-color: #a3c6ff;
}
.current-tab {
    background-color: #b7e7ff !important;
}
.current-window > span {
    background-color: #3592fc !important;
}
.categories-list > li > span {
    display: block;
    width: inherit;
    background-color: #5e5e5e;
    font-size: 16.2px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}
.categories-list > li > ul > li {
    background-color: #f2f2f2;
    font-size: 17.1px;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
#container {
    width: calc(100% - 23px);
    height: calc(100% - 13px);
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    padding-left: 11.5px;
    padding-right: 11.5px;
}
#tabs {
    overflow-y: scroll;
}
#tabs, #tabs-list {
    display: block;
    border-radius: 3.6px;
}
#search-area {
    margin-bottom: 5px;
}
#search {
    font-size: 15px;
}
.window-entry {
    padding-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.window-entry > span {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    text-align: center;
}
.tab-entry {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab-entry > img {
    vertical-align: middle;
    padding-right: 5px;
    width: 29px;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.tab-entry > div {
    width: 20vw;
}
.tab-entry > span {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.tab-entry.current-tab:hover, .tab-entry.current-tab:active {
    background-color: #a3c6ff;
}
.tab-details {
    font-size: 15px;
    padding-left: 6px;
}
#details, #tabs-container {
    display: inline-block;
}
#details {
    display: inline-table;
    height: inherit;
    width: 55%;
    float: left;
}
#tabs-container {
    height: inherit;
    width: 45%;
}
#tabs, #details *:not(#details-placeholder) {
    display: none;
}
#details #details-placeholder {
    display: table-cell;
    font-size: 26.5px;
    font-weight: bolder;
    letter-spacing: -1.3px;
    color: #aaaaaa;
    text-align: center;
    vertical-align: middle;
    padding-left: 6px;
    padding-right: 6px;
}
#details-img {
    width: inherit;
}
#tabs-list, #tabs-list ul {
    list-style: none;
    padding-left: 0;
}
input[type="text"] {
    width: 100%;
    padding: 7px 6.5px;
    margin: 6px 0;
    display: inline-block;
    border: 0.6px solid #dadada;
    border-radius: 6px;
    box-sizing: border-box;
}
input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 10px #9ecaed;
}
input[type="checkbox"] + label {
    padding-left: 3.5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
