* {
    font-family: Helvetica, Sans-Serif;
    letter-spacing: 0.1px;
    margin: 0;
    padding: 0;
}
html, body {
    width: 700px;
    height: 400px;
    margin: 0;
}
#settings{
    display: none;
}
#options {
    color: white;
    height: 95%;
    padding: 7px 6.5px;
    margin: 6px 0;
    display: inline-block;
    border: 1.2px solid #be632e;
    border-radius: 3.5px;
    box-sizing: border-box;
}
#options:hover, #options:active {
    background-color: #cc6b33;
}
.button:hover, .button:active {
    background-color: #a3c6ff;
}
.darker-button:hover, .darker-button:active {
    background-color: #0062ff;
}
.inline-button {
    width: 5vh;
    height: 5vh;
    font-weight: normal;
    font-size: 3vh;
    display: inline-block;
    background-color: rgb(0, 153, 255);
    border-radius: 3px;
    color: white;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.inline-button:hover, .inline-button:active {
    background-color: #0062ff;
}
.inline-button img {
    pointer-events: none;
}
.red-button {
    background-color: red;
}
.orange-button {
    background-color: rgb(236, 115, 16);
}
.red-button:hover, .red-button:active {
    background-color: darkred;
}
.img-button {
    background-repeat: no-repeat;
    background-size: contain;
}
.opacity-changing-button {
    background-color: transparent;
}
.opacity-changing-button:hover, .opacity-changing-button:active {
    background-color: transparent;
    opacity: 0.6;
}
.category > span {
    display: block;
    width: inherit;
    background-color: #5e5e5e;
	font-size: 3vh;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}
.category-list > li {
    background-color: #f2f2f2;
	font-size: 3vh;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#container {
    width: calc(100% - 23px);
    height: calc(100% - 13px);
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    padding-left: 11.5px;
    padding-right: 11.5px;
}
.current-tab {
    background-color: #b7e7ff !important;
}
.current-window > span {
    background-color: #3592fc;
}
.incognito-window > span {
    background-color: rgb(173, 0, 173);
}
.incognito-window > span:hover, .incognito-window > span:active {
    background-color: rgb(128, 0, 128);
}
.incognito-window > ul > li {
    background-color: rgb(255, 197, 255) !important;
}
.incognito-window > ul > li:hover, .incognito-window > ul > li:active {
    background-color: rgb(255, 124, 255) !important;
}
#details-pinned, #details-hidden {
    display: none;
}
#details-close img {
    width: 100%;
}
#tabs {
    overflow-y: auto;
}
#tabs, #tabs-list {
    display: block;
}
#search-area {
    margin-bottom: 5px;
}
#search {
	font-size: 3vh;
}
.window-entry {
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.window-entry > span {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    text-align: center;
}
.window-title {
    pointer-events: none;
}
.tab-entry {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab-entry > img {
    vertical-align: middle;
    padding-right: 5px;
    width: 3vh;
    height: 100%;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    vertical-align: middle;
}
.tab-entry > span:not(.tab-entry-buttons) {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    vertical-align: middle;
}
.window-entry-buttons {
    float: right;
    top: 50%;
}
.window-entry-buttons .inline-button {
    height: 100%;
    vertical-align: top;
    display: inline-block;
}
.tab-entry-buttons {
    float: right;
    margin-left: 2.5px;
}
.tab-entry-pin-btn {
    width: 3vw;
    height: 3vh;
    margin-right: 5px;
    vertical-align: middle;
}
.tab-entry-remove-btn {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.tab-details {
	font-size: 3vh;
}
.space {
    height: 6px;
    width: 100%;
}
.insert-cursor {
    width: 100%;
    height: 1.2px;
    background-color: blue;
}
.insert-cursor-window {
    background-color: blue !important;
}
.detached-tab {
    display: none;
}
#details-header {
    margin-bottom: 4px;
}
#details-status {
    float: left;
    margin-bottom: inherit;
}
#details-actions {
    float: right;
    margin-bottom: inherit;
}
#details, #tabs-container {
    display: inline-block;
}
#search{
    width: 75%;
}
#details {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    float: left;
    text-align: center;
}
#tabs-container {
    height: inherit;
    width: 45%;
}
#tabs, #tab-details {
    display: none;
}
#details-placeholder {
	font-size: 3vh;
    font-weight: bolder;
    color: #aaaaaa;
    padding-left: 10px;
    padding-right: 10px;
}
#tab-details {
    height: 100%;
    padding-left: 7px;
    padding-right: 18px;
    margin-right: 7px;
    overflow-y: auto;
}
#details-img {
    width: 100%;
    margin-bottom: 7.5px;
    border: 0.2px solid black;
    border-radius: 2px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
#details-title, #details-url, label[for="details-title"], label[for="details-url"] {
	font-size: 3vh;
}
label[for="details-title"], label[for="details-url"] {
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
#details-title, #details-url {
    display: block;
    word-wrap: normal;
    overflow: hidden;
}
#tabs-list, #tabs-list ul {
    list-style: none;
    padding-left: 0;
}
input[type="text"] {
    width: 100%;
    padding: 7px 6.5px;
    margin: 6px 0;
    display: inline-block;
    border: 1.2px solid #dadada;
    border-radius: 3.5px;
    box-sizing: border-box;
}
input[type="text"]:focus {
    outline: none;
    border-color: #91c3ec;
}
input[type="checkbox"] + label {
    padding-left: 3.5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
